/* Add a black background color to the top navigation */
.nav {
  background-color: rgb(46, 173, 73);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.nav a {
  float: left;
  display: block;
  color: #063506;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.nav a:hover {
  background-color: rgb(112, 196, 102);
  color: black;
}

/* Add an active class to highlight the current page */
.nav a.active {
  background-color: #4caf50;
  color: white;
}

/* Hide the link that should open and close the nav on small screens */
.nav .icon {
  display: none;
}
